{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
           
            <div class="my-5">
                
            </div>
        </div>    
    </div>
</div>

<!-- About -->
<div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10 text-center">
                <h1>About Us</h1>
                <p>
                    Welcome to Podge and Rubble. We are an organic fruit and veg shop.  <br />
                    <br />
                    our organic produce comes from certified farms.
                    <br />
                    Are quality produce are available in our veg boxes, farmers markets and out on-linw shop.
                    <br>
                    We can delver our produce straight to your door. 
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Choose Us -->
<div class="choose-us-section bg-choose-us" id="choose-us">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">
                <div class="d-none d-lg-block">
                    <img src="{% static 'home/img/potatoes.jpg' %}" height="400" class="mg-fluid" alt="potatoes" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mb-5 mt-4 text-center">
                    <h2 class="text-center choose-us-text">Why Choose Podge and Rubble</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center choose-icon">
                                    <i class="fa-solid fa-tractor"></i>
                                </div>
                                <div class="col-lg-10 mb-4">
                                    <h5>Quality organic produce</h5>
                                    <p>
                                       We omly supply produce from certified farms
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center choose-icon">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="col-lg-10 mb-4">
                                    <h5>Free Delivery</h5>
                                    <p>
                                        We can deliver all over the UK. Quality produce straight to your door
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center choose-icon">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="col-lg-10 mb-4">
                                    <h5> Range of quality organic Products</h5>
                                    <p>We have a range of quality organic fruit and veg.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}         