{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!-- Carousel -->
<div class="top">
    <div class="carousel-padding">
        <div id="carouselExampleIndicators" class="carousel carousel-extension slide" data-ride="carousel" data-interval="6500">
            <ol class="carousel-indicators carousel-indicators-extension">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="small-size-carousel carousel-item first-carousel-small active">
                    <img src="{% static 'img/home/podge-and-rubble-1c.png' %}"class="d-block align-middle first-carousel-small carousel-image small-size-carousel" alt="carousel_1" />
                   
                </div>
                <div class="small-size-carousel carousel-item">
                    <img src="{% static 'img/home/green-lettuce.png' %}" class="d-block align-middle carousel-image small-size-carousel" alt="carousel_2" />
                   
                </div>
                <div class="small-size-carousel carousel-item">
                    <img src="{% static 'img/home/carrots-1.png' %}" class="d-block align-middle carousel-image small-size-carousel" alt="carousel_2" />
                    
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!-- About -->
<div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10 text-center">
                <h1>About Us</h1>
                <p>
                    Welcome to Podge and Rubble. We are an organic fruit and veg shop.  <br />
                    <br />
                    our organic produce comes from certified farms.
                    <br />
                    Are quality produce are available in our veg boxes, farmers markets and out on-linw shop.
                    <br>
                    We can delver our produce straight to your door. 
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us -->
<div class="page-section bg-why-choose-us" id="why-choose-us">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">
                <div class="d-none d-lg-block">
                    <img src="{% static 'img/home/basket-of-veg.jpg' %}" class="img-fluid" alt="about_img" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mb-5 mt-4 text-center">
                    <h2 class="text-center liner-text">Why Choose Podge and Rubble</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center about-icon">
                                    <i class="fa-solid fa-tractor"></i>
                                </div>
                                <div class="col-lg-10 mb-4 explain-center">
                                    <h5>Quality organic produce</h5>
                                    <p>
                                       We omly supply produce from certified farms
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center about-icon">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="col-lg-10 mb-4 explain-center">
                                    <h5>Free Delivery</h5>
                                    <p>
                                        We can deliver all over the UK. Quality produce straight to your door
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 pr-0 text-center about-icon">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="col-lg-10 mb-4 explain-center">
                                    <h5> Range of quality organic Products</h5>
                                    <p>We have a range of quality organic fruit and veg.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}         