html {
    height: 100%;
}

body {
	background-size: cover;
    color: #555;
    height: 450px;
    width: 100%;
    font-family: "Poppins";
    background: #222;
    background: url('/media/dg-small-bg-red-apples.png');
  }


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;  
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.btn-black {
    background: black;
    color: #fff;
}

.btn-yellow {
    background: #ffcc00;
    color: #fff;
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}


.text-black {
    color: black !important;
}

.text-white {
    color: #fff;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black{
    background-color: #141414;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-maroon {
    background: #64101f ;
    color: #fff;
}

span a {
    color: #64101f;
}

span a:hover {
    color: #64101f;
}
/** About **/
.about {
    background-color: #141414 !important;
    color: white;
    padding: 6rem 0;
    font-size: large;

}

.choose-us-section {
    padding: 4rem 0;
}

.bg-choose-us {
    background-color: #64101f !important;
    color: #fff;
}

.choose-icon {
    font-size: 35px;
    color: black;
}

.choose-us-text {
    position: relative;
    color: #fff;
    width: 80%;
    left: 15%;
}



.contact{
    background-color: #c45adc;
}

footer{
    height: 200px;
    background-color: #141414;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}


.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f4efef
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card-footer {
    color: #64101f;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Customer Rating */
.store-text-large {
    font-size: 130%;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: "Font Awesome 5 Free";
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 100;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #da627d;
}

.card-review-extension {
    border: 0 !important;
}

.card-header-review-extension {
    background-color: white !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1100px) {
  .container {
    max-width: 100%;
  }
 
}

/* fixed top navbar only on medium and up */
@media (min-width: 600px) {
    .fixed-top-desktop-only {
        position: fixed;
        margin: 0 auto;
        z-index: 1030;
    }
   
      .header-container {
        padding-top: 200px;
    }
    
    .footer{
        width: 100%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 500px) {
    .header-container {
        padding-top: 250px;
    }

    body {
        height: calc(100vh - 116px);
    }
}