html {
    height: 100%;
}

body {
	background-size: cover;
    color: #555;
    height: 450px;
    width: 100%;
    font-family: "Poppins";
    /* For devices smaller than 400px: */
    background: #222;
    background: url('/media/dg-small-bg-red-apples.png')no-repeat;
  }


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;

    
}

#collapse{

    color: #fff;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.btn-black {
    background: black;
    color: black;
}

.btn-yellow {
    background: yellow;
    color: #fff;
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


.text-black {
    color: black !important;
}

.text-white {
    color: #fff;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black{
    background-color: black !important;
}



/** About **/
.about {
    background-color: black !important;
    color: white;
    padding: 6rem 0;
    font-size: large;

}

.choose-us-section {
    padding: 4rem 0;
}

.bg-choose-us {
    background-color: #64101f !important;
    color: #fff;
}

.choose-icon {
    font-size: 35px;
    color: black;
}

.choose-us-text {
    position: relative;
    color: #fff;
    width: 80%;
    left: 15%;
}



.contact{
    background-color: #c45adc;
}

footer{
    height: 200px;
    background-color: black;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}


.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f4efef
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1100px) {
  .container {
    max-width: 80%;
  }
  
}

/* fixed top navbar only on medium and up */
@media (min-width: 540px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    body {
        background-size: cover;
        background-color: black;
        height: 700px;
        width: 100%;
        color: #555;
        background:  url('/media/podge-and-rubble-1d.png')no-repeat;
      }
    .footer{
        width: 100%;
    }
}