<div class="collapse navbar-collaspe" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Veg and fruit boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">veggie bpxes</a>
                <a href="" class="dropdown-item">mixed boxes</a>
                <a href="" class="dropdown-item">fruit boxes</a>
                <a href="" class="dropdown-item">all boxes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fruit
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Blood oranges</a>
                <a href="" class="dropdown-item">Bananas</a>
                <a href="" class="dropdown-item">Apples</a>
                <a href="" class="dropdown-item">Kiwis</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                veg 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Potatoes</a>
                <a href="" class="dropdown-item">Brussel sprouts</a>
                <a href="" class="dropdown-item">purple sprouted</a>
                <a href="" class="dropdown-item">kale</a>
            </div>
        </li> 
    </ul>
</div>